extends layout

block js
    script(type="text/javascript", src="/javascripts/jquery-3.3.1.min.js")
    script(type="text/javascript", src="/javascripts/admin.js")
block content
    div
        h2 위치 생성
        hr
        label(for='latitude') 위도
        input(type='text', id='latitude')
        br
        label(for='longitude') 경도
        input(type='text', id='longitude')
        br
        label(for='title') 제목
        input(type='text', id='title')
        br
        label(for='desc') 내용
        textarea(id='desc')
        br
        label(for='image') 이미지
        input(type='file', id='image')
        br
        button(type='button', onclick='createPlace()') 만들기
    div
        h2 위치 리스트
        hr
        table
            thead
                th
                th
                th
                th

            tbody
                tr
                    td
                    td
                    td